* {
    -webkit-tap-highlight-color: transparent;
  }

body {
  background: black;
  font-family: 'Exo 2', sans-serif;
  color: whitesmoke;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: red;
  background: green;
}

::selection {
  color: greenyellow;
  background: transparent;
}

.size-box {
  height: 1vw;
}

h2 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}


.loader{
  top: 0;
  height: 100dvh;
  background: rgb(0, 0, 0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 3.5vw;
  row-gap: 10vh;
  margin: 7vh 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: rgb(214, 214, 214);
  border-radius: 2em;
  background-color: #1a1a1a;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4), 0 0 40px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  color: rgb(214, 214, 214);
}

.image-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  border-radius: 2em 2em 0 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2em 2em 0 0;
  opacity: 0.9;
  z-index: 2;
  position: relative;
  visibility: hidden;
  opacity: 0;
}

.image-title {
  padding: 1em;
  text-align: center;
  font-family: 'Exo 2';
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 5vw;
    row-gap: 6vh;
    margin: 7vh 6vw;
  }
}

@media (min-width: 768px) and (max-width: 1084px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    column-gap: 5vw;
    row-gap: 8vh;
    margin: 7vh 6vw;
  }
}